* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 30px;
}

main {
  width: 50%;
  border: 1px solid gray;
  margin: 0 auto;
}

.toDoItem {
  display: flex;
  flex-direction: row;
}
